// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  .title {
    font-size: 2em;
    font-weight:bold;
    margin-bottom: 1em;
  }
  .content {
    border-top:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top:1em;
    padding-bottom:1em;
  }
}