<!DOCTYPE html>
<html>
<head>
  <title>SummernoteTest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='span8 offset2'>
    <%= yield %>
  </div>
</body>
</html>
